# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build files
/frontend/build
/frontend/.cache

# Logs
logs
*.log
npm-debug.log*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store